[user]
	name = Timir
	email = tkaria@capitalkpartners.com

[alias]
  st = status
  g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  whatadded  = log --diff-filter=A
